body{
  background-color: saddlebrown;
}
.containerProfile{
  margin: 0;
  padding: 0 0;
}
.nav{
  line-height: 10px;
  height: 60px;
}
.navFont1{
  margin-left: 20px;
  font-size: 18px;
}
.navFont{
  font-size: 18px;
}
.brand{
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.wrapper{
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  position: absolute;
  width: 100%;
  height: 55%;
  overflow: hidden;
  background: rgb(2,0,36);    
  background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(86,80,181,1) 29%, rgba(108,99,255,1) 55%, rgba(86,80,195,1) 87%);
}
.box div{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0.8);
}
.box div:nth-child(1){
  top: 12%;
  left: 45%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2){
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3){
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(4){
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5){
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6){
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
.box div:nth-child(7){
  top: 60%;
  left: 90%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(8){
  top: 35%;
  left: 25%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(9){
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10){
  top: 28%;
  left: 82%;
  animation: animate 12s linear infinite;
}
.infos{
  position: absolute;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 14px;
  height: 80%;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
} 

@keyframes animate{
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100%{
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
} 