.content{
   display: flex;
   flex: 1;
   flex-direction: row;
   margin-top: 56px;
   background: rgb(76,73,129);
   background: linear-gradient(141deg, rgba(76,73,129,1) 4%, rgba(108,99,255,1) 31%, rgba(69,67,106,1) 86%);
   height: 20rem;
}
.avatar{
   padding: 40px 90px;
}
.info{
   color: #fff;
   margin-top: 3%;
}
.spanName{
   font-size: 15px;
   margin-left: 4px;
   font-weight: 500;
}
.born{
   margin-top: 4%;
}
.date{
   font-size: 14px;
   margin-left: 4px;
   font-weight: 500;
}
.description{
   margin-top: 3%;
   width: 600px !important;
}
.descriptionText{
   font-size: 14px;
   margin-left: 4px;
   font-weight: 500;
}
.iconsSocial{
   margin-top: 4.3%;
   width: 130px;
   display: flex;
   justify-content: space-between;
}
.cardContainer{
   display: flex;
   flex: 1;
   flex-direction: row;
}
.root{
   margin-top: -50px !important;
   width: 50%;
   margin-left: 7%;
}
.root2{
   margin-top: -50px !important;
   width: 30%;
   margin-left: 5%;
}
.contato{
   margin-top: 6%;
}
.iconsTitleCntt{
   font-weight: 500;
   margin-left: 2%;
}
.textIconsCntt{
   margin-top: 1%;
   color: #6C63FF;
   font-size: 14px;
   margin-left: 6.5%;
}
.textIconsCntt:hover{
   color: rgb(42, 36, 145);
}
.historyText{
   margin-top: 4%;
}