.container{
   width: 100vw;
   height: 100vh;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 10rem;
   padding: 0 10rem;
}

.img{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.registerContainer{
  margin-left: 10px; 
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.img img{
  width: 500px;
}

section{
  width: 360px;
}

.registerContainer img{
   height: 100px;
}

.registerContainer h2{
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.registerContainer .inputDiv{
  position: relative;
   display: grid;
   grid-template-columns: 7% 93%;
   margin: 25px 0;
   padding: 5px 0;
   border-bottom: 2px solid #d9d9d9;
}

.registerContainer .inputDiv.one{
  margin-top: 0;
}

.i{
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i{
  transition: .3s;
}

.inputDiv > div{
   position: relative;
  height: 45px;
}

.inputDiv > div > h5{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: .3s;
}

.inputDiv:before, .inputDiv:after{
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  transition: .4s;
}

.inputDiv:before{
  right: 50%;
}

.inputDiv:after{
  left: 50%;
}

.inputDiv.focus:before, .inputDiv.focus:after{
  width: 50%;
}

.inputDiv.focus > div > h5{
  top: -5px;
  font-size: 15px;
}

.inputDiv.focus > .i > i{
  color: #38d39f;
}

.inputDiv > div > input{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: 'poppins', sans-serif;
}

.inputDiv.pass{
  margin-bottom: 4px;
}

button{
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-image: linear-gradient(to right, #4D43F1, #6C63FF, #4D43F1);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: .5s;
}
button:hover{
  background-position: right;
}

@media screen and (max-width: 1050px){
  .container{
     grid-gap: 5rem;
  }
}
 
@media screen and (max-width: 1000px){
   section{
     width: 290px;
  }
  .registerContainer h2{
       font-size: 2.4rem;
       margin: 8px 0;
  }
  .img img{
     width: 400px;
  }
}

@media screen and (max-width: 900px){
  .container{
     grid-template-columns: 1fr;
  }
  .img{
     display: none;
  }
  .registerContainer{
     justify-content: center;
  }
}