.container{
  display: flex !important; 
  flex: 1 !important;
  flex-direction: row !important;
  margin-top: 5%;
  margin-left: 8%;
  align-items: center;
  justify-content: center;
}
.cardContainer{
  height: 180px;
  width: 65vw;
}