.container{
  display: flex !important; 
  flex: 1 !important;
  flex-direction: row !important;
  margin-top: 5%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10%;
}
.cardContainer{
  height: 180px;
  width: 40vw;
}
