.container{
   width: 100vw;
   height: 100vh;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap :7rem;
   padding: 0 2rem;
}

.img{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loginContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.img img{
  width: 500px;
}

section{
  width: 360px;
}

.loginContainer img{
   height: 100px;
}

.loginContainer h2{
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.loginContainer .inputDiv{
  position: relative;
   display: grid;
   grid-template-columns: 7% 93%;
   margin: 25px 0;
   padding: 5px 0;
   border-bottom: 2px solid #d9d9d9;
}

.loginContainer .inputDiv.one{
  margin-top: 0;
}

.inputDiv > div{
   position: relative;
  height: 45px;
}

.inputDiv > div > h5{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: .3s;
}

.inputDiv.pass{
  margin-bottom: 4px;
}

.aRegister{
  position: absolute;
}

button:hover{
  background-position: right;
}

@media screen and (max-width: 1050px){
  .container{
     grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px){
   section{
     width: 290px;
  }
  .loginContainer h2{
       font-size: 2.4rem;
       margin: 8px 0;
  }
  .img img{
     width: 400px;
  }
}

@media screen and (max-width: 900px){
  .container{
     grid-template-columns: 1fr;
  }
  .img{
     display: none;
  }
  .loginContainer{
     justify-content: center;
  }
}