.cardContainer{
   display: flex;
   flex: 1;
   flex-direction: row;
}
.root{
   margin-top: -50px !important;
   width: 50%;
   margin-left: 7%;
}
.root2{
   margin-top: -50px !important;
   width: 30%;
   margin-left: 5%;
}
.contato{
   margin-top: 6%;
}
.iconsTitleCntt{
   font-weight: 500;
   margin-left: 2%;
}
.textIconsCntt{
   margin-top: 1%;
   color: #6C63FF;
   font-size: 14px;
   margin-left: 6.5%;
}
.textIconsCntt:hover{
   color: rgb(42, 36, 145);
}
.historyText{
   margin-top: 4%;
}