@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
}
body{
   font-family: 'Roboto', sans-serif;
   background-color: #f0f0f5;
   -webkit-font-smoothing: antialiased;
}