.toolbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 56px;
  background-color: #333333;
}
.toolbarNavigation{
  display: flex;
  height: 100%; 
  align-items: center;
  padding: 0 1rem;
}
.toolbarLogo{
  margin-left: 1rem;
}
.toolbarLogo a{
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}
.toolbarNavigationItens ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.toolbarNavigationItens li{
  padding: 0 0.8rem;
}
.toolbarNavigationItens a{
  color: #fff;
  text-decoration: none;
}
.a{
  margin-right: 20px;
}
.spacer{
  flex: 1;
}
.toolbarNavigationItens a:hover,
.toolbarNavigationItens a:active{
  color: #fff;
}

.button{
  background-color: none;
  background: none;
  border-style: none;
  cursor: pointer;
}

.logout FaPowerOff:hover,
.logout FaPowerOff:active{
  color: red;
}

@media (max-width: 768px){
  .toolbarNavigationItens{
    display: none;
  }
}

@media (min-width: 770px){
  .toolbarToggleButton{
    display: none;
  }
  .toolbarLogo{
    margin-left: 0;
  }
}